body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Heiti SC";
  background-color: aliceblue;
}


#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  align-self: center;
  align-content: center;
  width: 90%;
  height: auto;
}
